<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>WORKING!!! Fleet Creations | tink</title>
</head>

<body>
	<div class="container clearfix">
		<div id="head">
			<div id="nav" class="grid_12">
				<ul>
					<li class="tink"><a href="index.html">tink</a></li>
					<li class="about"><a href="#">about us</a></li>	
				</ul>
			</div>
			
			<div class="grid_3 alpha">
		    	<img src="assets/fleetship.png" alt="Fleet Ship">
		    </div>

		    <div class="grid_9 omega">
				<h1>Fleet Creations</h1>
				<h3>Simple ideas, executed beautifully.</h3>
			</div>

		</div>

		<div id="main">

			<h2 id="aboutus">About Us</h2>
			<div id="bios">
				<div class="bio" id="markbio">
					<img src="assets/MarkWatson.JPG" alt="Mark">
					<h3>Mark Watson</h3>
					<p>Mark graduated from the University of Delaware with a BS in Electrical Engineering. Since graduating he has worked as an IT Specialist on the Process Plant Computer Replacement Team at Calvert Cliffs Nuclear Power Plant and a Radar Systems Engineer with SEG in Columbia, MD. He fills the role of lead iPhone Engineer at Fleet Creations. On the weekends Mark enjoys a wide range of outdoor activities and attending professional sporting events, especially those in the Baltimore area.
					</p>
				</div>

				<div class="bio" id="ericbio">
					<img src="assets/EricSauter.jpeg" alt="Eric">
					<h3>Eric Sauter</h3>
					<p>Eric graduated from the University of Delaware with a BS in Electrical Engineering. After graduation, he began working at the Johns Hopkins University Applied Physics Lab in Laurel, MD working as an Electronic Warfare Systems Engineer. Eric is the lead Rails developer at Fleet Creations. When he is not working or pursuing his web development interests, Eric spends much of his time playing basketball or getting hooked on various TV shows on Netflix. He is also an avid Orioles and Ravens fan.</p>
				</div>
			</div>

			<br>
			<p id="contactus">
				<a href="mailto:mark@fleetcreations.com">Contact Us</a>
			</p>

		</div>


	</div>

</body>
</html>