<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>WORKING!!! Fleet Creations | tink</title>

</head>

<body>
	<div class="container clearfix">
		<div id="head">
			<div id="nav" class="grid_12">
				<ul>
					<li class="tink"><a href="#">tink</a></li>
					<li class="about"><a href="about.html">about us</a></li>	
				</ul>
			</div>
			
			<div class="grid_3 alpha">
		    	<img src="assets/fleetship.png" alt="Fleet Ship">
		    </div>

		    <div class="grid_9 omega">
				<h1>Fleet Creations</h1>
				<h3>Simple ideas, executed beautifully.</h3>
			</div>

		</div>

		<div id="main">

			<div id="tink head">
				<div class="grid_1 alpha">
					<img src="assets/tinkicon.png" alt="tink Icon">
				</div>
				<h2 id="tinkmain">tink</h2>
				<p id="tink description">The easiest, most personal way to share links with your friends.</p>
			</div>

			<div class="step">
				<h3>Step One</h3>
				<img src="assets/DesktopMockup.png" alt="Desktop Mockup">
				<p>Simply click on the tink button on any website or blog and sign in with your username and password.</p>
			</div>

			<div class="step">
				<h3>Step Two</h3>
				<img src="assets/PushMockup.png" alt="Push Mockup">
				<p>Instantly your phone notifies you that tink is ready with your link.</p>
			</div>

			<div class="step">
				<h3>Step Three</h3>
				<img src="assets/TextMockup.png" alt="Text Mockup">
				<p>When tink opens in the standard messaging app, simply select the recipient(s) and hit send! The title and shortened link are already formatted for you.</p>
			</div>
		</div>


	</div>

</body>
</html>