#main {
	background-color: #DDD;
	border-radius: 10px;
	margin-top: 2%;
	box-shadow: 0px 0px 5px #666;
	padding: 4%;
	color: #555;
	overflow: hidden;
}

#aboutus {
	border-bottom: 2px groove #FFF;
	padding-bottom: 1%; 
	overflow: hidden;
}

.bio {
	background-color: #FFF;
	border-radius: 10px;
	width: 48.5%;
	float: left;
	margin: 2% 0;
	border: 1px solid #CCC;
	overflow: hidden;
}

#markbio{
	margin-right: 1%;
}

#ericbio{
	margin-left: 1%;
}

.bio img {
	width: 60%;
	display: block;
	margin: auto;
	padding-top: 4%;
}

.bio h3{
	margin: auto;
	text-align: center;
	padding-top: 2%;
}

.bio p {
	color: 222;
	/*font-size: 0.9em;*/
	line-height: 1.2em;
	padding: 0 5%;
}

#contactus a {
	width: 25%;
	padding: 12px;
	color: #FFF;
	text-align: center;
	border: 0;
	font-weight: 100;
	font-size: 1em;
	background: #00CD00;
	border-radius: 25px;
	float: left;
	overflow: hidden;
}

#contactus a {
	color: #FFF;
}

/*media queries*/


@media screen and (max-width: 1024px) {

.bio {
	border-radius: 10px;
	width: 100%;
	clear: both;
	overflow: hidden;
	margin: 2% 0;
}

#markbio{
	margin: 2% 0;
}

#ericbio{
	margin: 2% 0;

}

}



